html {
  background-color: #b6b5b5;
  font-family: "aosagi", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'aosagi';
  src: url(YDWaosagi.otf);
}

nav {
  text-align: center;
  font-size: 40px;
  font-family: "aosagi", serif;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
  list-style: none;
  display: inline-flex;
  background-color: #7183bf;
  width: 10%;
  min-width: 90px;
}

nav li:not(:last-child) {
  border-right: 2px;
}

nav a {
  text-decoration: none;
  color: #dbdbdb;
}

nav a.current {
  color: #00B0F0;
}

nav a:hover {
  color: #F7CB4D;
}


h2 {
  font-family: "aosagi", serif;
  text-align: right;
  font-size: 50px;
  color: #b6b5b5;
  text-align: center;


  .most1 {
    display: flex;
    background-color: rgb(236, 131, 236);
    color: purple;
    width: 420px;
    min-width: 90px;
    margin-left: 570px !important;
  }

  .most2 {
    display: flex;
    background-color: rgb(172, 233, 246);
    color: rgb(57, 39, 251);
    width: 880px;
    min-width: 90px;
    margin-left: 350px !important;
  }

  .most3 {
    display: flex;
    background-color: rgb(246, 178, 172);
    color: rgb(251, 39, 39);
    width: 565px;
    min-width: 90px;
    margin-left: 510px;
  }

  .most4 {
    display: flex;
    background-color: rgb(172, 246, 179);
    color: rgb(67, 106, 64);
    width: 730px;
    min-width: 90px;
    margin-left: 400px !important;

  }

  .most5 {
    display: flex;
    background-color: rgb(245, 204, 240);
    color: rgb(251, 39, 148);
    width: 780px;
    min-width: 90px;
    margin-left: 380px !important;
  }

  .most6 {
    display: flex;
    background-color: rgb(244, 183, 142);
    color: rgb(247, 104, 33);
    width: 560px;
    min-width: 90px;
    margin-left: 440px !important;
  }

  .most7 {
    display: flex;
    background-color: rgb(254, 249, 176);
    color: rgb(190, 190, 37);
    width: 360px;
    min-width: 90px;
    margin-left: 600px !important;
    padding: 5px;
  }

  .most8 {
    display: flex;
    background-color: rgb(171, 184, 255);
    color: rgb(17, 0, 246);
    width: 720px;
    min-width: 90px;
    margin-left: 440px !important;
  }

}

header {
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
  margin-top: 180px;

  p {
    font-size: 60px;
    color: #e9e2ce;
  }
}

footer {
  text-align: center;
}


main {
  font-family: "aosagi", serif;
  text-align: center;
  font-size: 35px;
  padding-top: 230px;
  list-style-type: none;

  li {
    padding-top: 0px;
    text-align: center;
    font-size: 40px;
  }

  a {
    margin-top: 100px;
    color: #dbdbdb;
    text-decoration: none;
    background: rgb(85, 137, 104);
    border-radius: 50px;
    display: block;
    width: 500px;
    height: 80px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 13px 20px 12px;
    position: relative;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    padding: 0.3em;
    border: none;
    line-height: 80px;
  }

  a:hover {
    color: #dbaf35;
  }
}

.ttl {
  padding-top: 100px;
}

.btn-wrapper {
  text-decoration: none;


  .question-btn {
    font-family: "aosagi", serif;
    text-align: center;
    padding-right: 40px;
    padding-left: 0px;
    font-size: 35px;
    padding-top: 30px;
    list-style-type: none;
    text-align: center;
  }


  .yes {
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    text-decoration: none;


    li {
      font-family: "aosagi", serif;
      text-align: center;
      font-size: 25px;
    }

    a {
      border-radius: 50px;
      display: block;
      width: 500px;
      height: 80px;
      margin: auto;
      text-align: center;
      text-decoration: none;
      padding: 13px 20px 12px;
      position: relative;
      transition: 0.2s ease-in-out;
      margin-top: 100px;
      text-decoration: none;
      background: rgb(234, 125, 125);
      padding: 0.3em;
      border: none;
      line-height: 80px;
    }

    a:hover {
      color: #8b0e0e;

    }
  }

  .no {
    text-align: center;
    font-size: 35px;
    padding-top: 0;
    list-style-type: none;

    li {
      font-family: "aosagi", serif;
      text-align: center;
      font-size: 25px;
    }

    a {
      border-radius: 50px;
      display: block;
      width: 500px;
      height: 80px;
      margin: auto;
      text-align: center;
      text-decoration: none;
      padding: 13px 20px 12px;
      position: relative;
      transition: 0.2s ease-in-out;
      margin-top: 100px;
      text-decoration: none;
      background: rgb(77, 94, 155);
      padding: 0.3em;
      border: none;
      line-height: 80px;
    }

    a:hover {
      color: #171728;
    }
  }

}

.resizeimage img {
  width: 450px;
  height: 400px;
  object-fit: contain;
}

article {
   font-size: 30px;
  color: #171728;
  margin-top: 20px;
}
   

.chan1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 400px 400px 400px 400px;
}

/* 以下list関連 ---------------------------------------------------------------------------------------------------------------------- */

.body-list {
  margin: 0;
  background-color: #fffbf2;
}

.list-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.name-text-wrapper,
.tag-text-wrapper,
.desc-text-wrapper {
  font-family: "aosagi", serif;
}

.header {
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #ffffff;
}

.header .bar {
  width: 100%;
  left: 0;
  background-color: #2570ab;
  position: absolute;
  height: 76px;
  top: 26px;
}

.header .bar-bg {
  width: 268px;
  left: 886px;
  background-color: #ffffff;
  position: absolute;
  height: 76px;
  top: 26px;
}

.header .nav-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.header .nav-container a {
  text-decoration: none;
}

.header .nav-el {
  width: 300px;
  height: 130px;
  color: #ffffff;
  font-size: 36px;
  font-family: "aosagi", serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: 130px;
}

.header .selected {
  width: 300px;
  height: 130px;
  color: #b21a1a;
  font-size: 36px;
  font-family: "aosagi", serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: 130px;
  background-color: #ffffff;
}

.list-div .article-container {
  background-color: #fffbf2;
  overflow: hidden;
  width: 1440px;
  height: fit-content;
  top: 130px;
  padding: 50px 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.list-div .article-el {
  position: relative;
  width: 360px;
  height: 264px;
}

.list-div .article-bg {
  top: 31px;
  left: 54px;
  position: absolute;
  width: 233px;
  height: 233px;
  background-color: #d9d9d9;
  border-radius: 116.5px;
}

.list-div .article-img-container {
  /* position: relative;
  width: 264px;
  height: 264px; */
  top: 10px;
  left: 45px;
  position: absolute;
  width: 250px;
  height: 250px;
}

.list-div .article-img-container img {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -140px;
  object-fit: contain;
}

.list-div .article-blank {
  position: relative;
  width: 5px;
  height: 264px;
}

.list-div .overlap-name {
  position: absolute;
  width: 196px;
  height: 43px;
  top: 159px;
  left: 0;
  z-index: 50;
}

.list-div .name-el {
  position: relative;
  min-width: 194px;
  height: 43px;
  padding: 0 3px;
  background-color: #4e91cfc9;
  border-radius: 64px;
  display: inline-block;
}

.list-div .name-text-wrapper {
  position: relative;
  min-width: 166px;
  height: 43px;
  padding: 0 15px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 43px;
  white-space: nowrap;
  display: inline-block;
}

.list-div .overlap-tag {
  position: absolute;
  display: flex;
  width: 300px;
  height: 25px;
  top: 209px;
  left: 17px;
  z-index: 50;
}

.list-div .tag-el {
  position: relative;
  min-width: 40px;
  height: 25px;
  padding: 0 3px;
  background-color: #8bbce9c9;
  border-radius: 64px;
  margin-right: 2px;
  display: inline-block;
}

.list-div .tag-text-wrapper {
  /* width: 100px; */
  height: 25px;
  min-width: 50px;
  padding: 0 15px;
  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
  /* position: absolute; */
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  display: inline-block;
}

.list-div .article-coll {
  top: 31px;
  left: 54px;
  position: absolute;
  width: 233px;
  height: 233px;
  background-color: #ffffff00;
  border-radius: 116.5px;
  z-index: 999;
}

.list-div .overlap-desc {
  position: absolute;
  width: 267px;
  height: 90px;
  top: -25px;
  left: 90px;
  z-index: 100;
}

.list-div .desc-el {
  position: relative;
  width: 265px;
  height: 90px;
  background-color: #0f477cb2;
  border-radius: 64px;
  opacity: 0.0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-div .article-coll:hover .desc-el {
  opacity: 1.0;
}

.list-div .desc-text-wrapper {
  width: 227px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  display: inline-block;
}